{% extends "jogos42/base.html" %}

{% block content %}
<div class="formulario-container">
    <div>
        <h1>Cadastro de Cliente</h1><br>
    </div>

    <form method="post" class="formulario">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.nome }}
        </div>

        <div class="form-group">
            <label for="{{ form.telefone.id_for_label }}">Telefone:</label>
            {{ form.nome }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>

        <div class="field-wrapper">
            <label for="{{ form.senha.id_for_label }}">Senha:</label>
            <input type="password" name="{{ form.senha.name }}" id="{{ form.senha.id_for_label }}">
        </div>

        <button type="submit">Cadastrar</button>
    </form>
</div>

<!-- <script src="loja_jogos\loja_de_jogos\jogos42\static\jogos42\js\formulario.js"></script> -->

{% endblock %}
