<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao sistema de cadastro de jogos!</h1>
    <h2>Selecione uma opção:</h2>

    
    
    <a href="{% url 'cadastro_cliente' %}"><img src="loja_jogos/loja_de_jogos/jogos42/static/jogos42/icones/usuario.png" alt="Cadastro de Cliente"></a>
    <a href="{% url 'cadastro_jogo' %}"><img src="loja_jogos/loja_de_jogos/jogos42/static/jogos42/icones/controle_game.png" alt="Cadastro de Jogo"></a>
    <a href="{% url 'consultar_disponibilidade' %}"><img src="loja_jogos/loja_de_jogos/jogos42/static/jogos42/icones/calendario.png" alt="Consulta de Disponibilidade"></a>
</body>
</html>
