/* Reset de estilos */
body,
h1,
p,
form,
input,
button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos do formulário */
.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #171a21;
}

.formulario {
    background-color: #1c1f28;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.formulario h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.formulario input[type="text"],
.formulario input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
}

.formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    font-family: inherit;
}

.formulario button[type="submit"] {
    background-color: #30a85a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}